body {
    padding: 0px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #393636;
}

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
     border-bottom: 2px solid #e9dbdb;
    width: 800px;
    height: 200px;
    border: 4px solid #d4dce2;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.one{
    background-color:white;
    color:black;
}
.two {
    color:white;
    background-color: orange;
}
.three {
    color:white;
    background-color:rgb(235, 61, 61);
}
.four{
  color:white;
  background-color:rgb(49, 121, 221);  
}
th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #e9dbdb;
}


h1 {
    font-weight: 600;
    text-align: center;
    background-color: #8916a0;
    color: #fff;
    padding: 10px 0px;
}



@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}